/anime-ml/
/stepik/
/книги/
/Новая папка/

/.venv
.python-version
**/__pycache__
**/.ipynb_checkpoints
**/.virtual_documents

# !/обработка изображений/**/*.ipynb
# !/обработка изображений/плантограммы
# /обработка изображений/

/albreht.tar
/code_octave_process.m
/foot_analysis_result.png
/main.py


